.cursor {
    cursor: pointer;
    color: white !important
    ;
  }
  
  .text-decorator-none {
    text-decoration: none !important;
  }
  
  .cursor:hover {
    color: rgb(160, 106, 173) !important;
  }