.text-decorator-none {
    text-decoration: none;
  }
  .outlinedButtonL {
    border-color: #c0a5df !important;
    color: #fcfcfc !important;
  }
  
  .outlinedButtonL:hover {
    background-color: #5d4775 !important;
    color: #fdfcfd !important;
  }
  
  .textosL {
    font-weight: bold !important;
  }
  
  .imagem {
    background-image: url("https://ik.imagekit.io/eou8tor4u/galaxia-noturna.jpg?updatedAt=1684432785469");
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .card {
    border-radius: 20px;
    background: linear-gradient(93deg, #c5aef090 8%, #d8cddb90 89%);
    padding: 2rem;
    width: max(20vw, 300px);
  }